{% extends 'base_admin.html.twig' %}


{% block body %}
{# Sidebar Hamburger Button #}
<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar"
	type="button"
	class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
	<span class="sr-only">Open sidebar</span>
	<i class="fa-solid fa-bars text-[25px]"></i>
</button>

<aside id="default-sidebar"
	class="fixed top-0 left-0 z-40 w-fit-content w-[14rem] max-w-[14rem] h-screen transition-transform -translate-x-full md:translate-x-0 shadow-xl"
	aria-label="Sidebar">
	<div class="flex flex-col h-full justify-between px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
		<div>
			{# Logo Branding Div #}
			<a href="{{ path('app_admin') }}" class="flex items-center px-2 mb-5">
				{# <img src="{{ asset('images/logo_st_vincent_propre.png') }}" class="h-6 me-3 sm:h-7"
					alt="MathIndex Logo" /> #}
				<div class="grid w-full">
					<span
						class="self-center text-xl transition-all font-semibold whitespace-nowrap text-cse dark:text-white">Back-Office</span>
					{# <span
						class="self-center text-sm lightgray whitespace-nowrap text-slate-500 dark:text-white">Lycée
						Saint-Vincent - Senlis</span> #}
				</div>
			</a>

			<hr class="py-2" />
			{# List of Pages #}
			{% set route = app.request.get('_route') %}
			<ul class="space-y-2 font-medium relative h-full max-h-fit">
				<li>
					<a href="{{ path('app_admin') }}"
						class="flex items-center p-2 text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 {{ route == "app_admin" ? "active" : "" }}">
						<i class="fa-solid fa-chart-pie"></i>
						<span class="flex-1 ms-3 whitespace-nowrap">Satistiques</span>
					</a>
				</li>
				<li>
					<a href="{{ path('app_admin_homepage_index') }}"
						class="flex items-center p-2 text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 {{ route == "app_admin_homepage_edit" ? "active" : "" }}">
						<i class="fa-solid fa-house-chimney"></i>
						<span class="flex-1 ms-3 whitespace-nowrap">Accueil</span>
					</a>
				</li>
				{# <li>
					<a href="{{ path('app_admin_photo_index') }}"
						class="flex items-center p-2 text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 {{ route == "app_admin_photo_index" ? "active" : "" }}">
						<i class="fa-solid fa-image"></i>
						<span
							class="flex-1 ms-3 whitespace-nowrap">Photos</span>
					</a>
				</li> #}
				<li>
					<a href="{{ path('app_admin_category_index') }}"
						class="flex items-center p-2 text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 {{ route == "app_admin_category_index" ? "active" : "" }}">

						<i class="fa-solid fa-icons"></i>
						<span
							class="flex-1 ms-3 whitespace-nowrap">Categories</span>
					</a>
				</li>
				<li>
					<a href="{{ path('app_admin_album_index') }}"
						class="flex items-center p-2 text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 {{ route == "app_admin_album_index" ? "active" : "" }}">
						<i class="fa-solid fa-user-lock"></i>
						<span
							class="flex-1 ms-3 whitespace-nowrap">Albums</span>
					</a>
				</li>
                <li>
					<a href="{{ path('app_admin_footer_links_index') }}"
						class="flex items-center p-2 text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
						<i class="fa-solid fa-hashtag"></i>
						<span
							class="flex-1 ms-3 whitespace-nowrap">Réseaux Sociaux</span>
					</a>
				</li>
			</ul>

		</div>
		{% if app.user is defined and app.user is not null %}
		{% if 'ROLE_ADMIN' in app.user.roles or 'ROLE_STUDENT' in app.user.roles or 'ROLE_TEACHER' in app.user.roles %}
		{# Sign-Out Button #}
		<div class="mt-2">
			<a href="{{ path('app_home') }}" class="flex cursor-pointer items-center p-2 text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
				<i class="fa-solid fa-person-running"></i>
				<span
					class="flex-1 ms-3 whitespace-nowrap">Revenir au site</span>
			</a>
			<hr class="my-2" />
			<a data-modal-target="default-modal" data-modal-toggle="default-modal"
				class="flex cursor-pointer items-center p-2 text-gray-600 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
				<i class="fa-solid fa-arrow-right-from-bracket"></i>
				<span
					class="flex-1 ms-3 whitespace-nowrap">Déconnexion</span>
			</a>
		</div>
		{% endif %}
		{% endif %}
	</div>
</aside>

{# Navbar #}
<div class=" md:ml-[14rem] md:pt-0">
	<nav class="bg-white border-gray-200 dark:bg-gray-900 top-0 right-0 absolute md:relative md:h-[90px]">
		<div class="flex flex-wrap items-center justify-end h-full mx-auto px-4 mt-2 md:mt-0 ">
			<div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
				{% if app.user is defined and app.user is not null %}
				{% if 'ROLE_ADMIN' in app.user.roles or 'ROLE_STUDENT' in app.user.roles or 'ROLE_TEACHER' in
				app.user.roles %}
				<button type="button" class="flex transition-all text-md items-center gap-2 hover:bg-gray-100 md:p-4 p-2 rounded-lg"
					id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
					data-dropdown-placement="bottom">
					<span class="block text-md text-gray-600 dark:text-white">
						{% if app.user is defined and app.user is not null %}
						{{ app.user.email }}
						{% endif %}
					</span>
					<i class="fa-solid fa-user"></i>
				</button>
				{# Dropdown Menu #}
				<div class="z-30 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
					id="user-dropdown">
					<div class="px-4 py-3">
						<span class="block text-sm  text-gray-500 truncate dark:text-gray-400">
							{% if app.user is defined and app.user is not null %}
							{{ app.user.email }}
							{% endif %}
						</span>
					</div>
					<ul class="py-2" aria-labelledby="user-menu-button">
						<li>
							<a data-modal-target="default-modal" data-modal-toggle="default-modal"
								class="flex cursor-pointer items-center justify-between px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
								Déconnexion
								<i class="fa-solid fa-arrow-right-from-bracket"></i>
							</a>
						</li>
					</ul>
				</div>
				{% endif %}
				{# Currently in the if app.user is defined and app.user is not null #}
				<!-- Main modal for disconnect-->
				<div id="default-modal" tabindex="-1" aria-hidden="true"
					class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full !m-0 h-[calc(100%-1rem)] max-h-full">
					<div class="relative p-4 w-full max-w-2xl max-h-full">
						<!-- Modal content -->
						<div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
							<!-- Modal header -->
							<div
								class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
								<h3 class="text-xl text-center font-semibold text-cse dark:text-white">
									Déconnexion
								</h3>
								<button type="button"
									class="transition-all text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-600 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
									data-modal-hide="default-modal">
									<i class="fa-solid fa-xmark text-[25px]"></i>
									<span class="sr-only transition-all">Close modal</span>
								</button>
							</div>
							<!-- Modal body -->
							<div class="p-4 md:p-5 space-y-4">
								<p class="text-base leading-relaxed text-gray-700 dark:text-gray-400  text-center">
									Êtes-vous sûr(e) de vouloir vous déconnecter ?
								</p>
							</div>
							<!-- Modal footer -->
							<div
								class="flex justify-end items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
								<a href="{{path('app_logout')}}" data-modal-hide="default-modal" type="button"
									class="transition-all text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Oui,
									me déconnecter</a>
								<button data-modal-hide="default-modal" type="button"
									class="ms-3 transition-all text-white bg-red-400 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-red-300 rounded-lg border border-red-200 text-sm font-medium px-5 py-2.5 hover:text-white focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Non
									merci</button>
							</div>
						</div>
					</div>
				</div>
				{% endif %}


			</div>
		</div>
	</nav>

	{# Main Content #}
	<div 
		class="p-4 md:border-2 border-gray-200 md:border-dashed rounded-lg dark:border-gray-700 md:mt-0 mt-3 transition-all md:m-4 ">
		<div class="md:bg-gray-100 dark:bg-gray-800 md:px-8 md:py-14 h-full">
			{% block main_content %}
			{# First Square #}
			<script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
			<div id="main_content" class="h-full bg-white md:bg-gray-100 w-full flex flex-wrap lg:flex-nowrap justify-center">
				<div
					class="h-fit w-fit max-w-full max-h-auto flex flex-col justify-center items-center text-center sm:whitespace-nowrap">
					<h2 class="text-xl font-bold">{{ diskTotalSpace - diskFreeSpace }}GB utilisé sur
						{{ diskTotalSpace }}GB</h2>
					<canvas id="myChart"></canvas>
				</div>
				<div class="content w-full flex flex-wrap justify-evenly items-center gap-8">

					<div class="statisticCard">
						<div class="title">
							<span>
								<i class="fa-solid fa-icons"></i>
							</span>
							<p class="title-text">
								Categories
							</p>
						</div>
						<div class="data">
							<p>
								{{numberOfCategories}}
							</p>
						</div>
					</div>

					<div class="statisticCard">
						<div class="title">
							<span>
								<i class="fa-solid fa-user-lock"></i>
							</span>
							<p class="title-text">
								Albums
							</p>
						</div>
						<div class="data">
							<p>
								{{numberOfAlbums}}
							</p>
						</div>
					</div>


					<div class="statisticCard">
						<div class="title">
							<span>
								<i class="fa-regular fa-image"></i>
							</span>
							<p class="title-text">
								Photos
							</p>
						</div>
						<div class="data">
							<p>
								{{numberOfPhotos}}
							</p>
						</div>
					</div>

				</div>
			</div>
			<script>
				const ctx = document.getElementById('myChart');
				var usedDiskSpace = {{ usedDiskSpace }};
				var availableDiskSpace = {{ availableDiskSpace }};
				new Chart(ctx, {
					type: 'pie',
					data: {
						labels: [
							'Espace Disque utilisé', 'Espace Disque disponible',
						],
						datasets: [
							{
								label: 'utilisation : %',
								data: [
									usedDiskSpace, availableDiskSpace
								],
								borderWidth: 1,
								backgroundColor: ["lightblue", "lightgray"]
							}
						]
					},
					options: {
						plugins: {
							legend: true,
							tooltip: true
						},
						scales: {
							x: {
								display: false
							},
							y: {
								display: false
							}
						}
					}
				});
			</script>

			{% endblock %}
		</div>
	</div>
	<ul class="flex p-6 w-full h-fit-content md:justify-start flex-wrap justify-center list-disc gap-6">
		<li class="list-none">
			Besoin d'aide ?
		</li>
		 <li>
			<a href="mailto:raphael.t.hendrick@gmail.com" class="text-blue-600 hover:underline">Contacter nous !</a>
		</li>
		{# <li>
			<a href="#">Lycée Saint-Vincent</a>
		</li> #}
	</ul>
</div>

{% endblock %}