{% extends 'base.html.twig' %}

{% block title %}Connexion - {{ title }}{% endblock %}
{% block body %}
{% include "_navbar.html.twig" with {
    "navbar_image_title": null,
    "navbar_image_path": null,
}%}

	<div class="background absolute z-0 top-0 left-0 h-screen w-screen bg-black">
		<img class="object-cover h-screen w-screen" src={{ favoritePhoto is not null ? path('app_file', {'photo': favoritePhoto.getId()}) : asset('assets/images/image-grid3.jpg') }} alt="background-image" width="1920" height="1080">

	</div>
	<div class="absolute form-album z-10 flex justify-center items-center h-screen w-screen ">
		{{ form_start(form, {'attr': {'class': 'form w-fit-content drop-shadow-2xl'}}) }}
			<h3 class="text-md uppercase tracking-[0.3rem] w-full text-center" id="heading">{{ title }}</h3>
			{# <h4 class="text-sm w-full uppercase text-center">{{ title }}</h4> #}
			<div class="field">
				<i class="fa-solid fa-at"></i>
                {{form_widget(form.identifiant, {'attr': {'class': 'input-field focus:outline-none focus:shadow-none'}})}}
			</div>
			<div class="field">
				<i class="fa-solid fa-lock"></i>
                {{form_widget(form.password, {'attr': {'class': 'input-field focus:outline-none focus:shadow-none'}})}}
				<i class="fa-regular fa-eye-slash text-[20px] cursor-pointer relative left-[-1px]" id="eyePassword"></i>
			</div>
			<div class="btn">
                {{form_widget(form.submit, {'attr': {'class': 'button1'}})}}
			</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
