{{ form_start(form) }}

{{ form_errors(form) }}
<details>
    <summary>Section Accueil</summary>
    <div class="content">
        <div class="flex gap-10 justify-center mb-6 flex-wrap">
            <div class="flex flex-col gap-14">
                <div>
                    {{ form_label(form.photoTopLeft, null, {'label_attr': {'class': 'photoTopLeftLabel'} }) }}
                    {% if form.vars.value.photoTopLeft is not null %}
                    <label for="{{ form.photoTopLeft.vars.id }}" class="group cursor-pointer w-fit h-fit flex relative">
                        <img src="{{ asset(form.vars.value.photoTopLeft) }}" alt="Preview"
                            class="relative max-w-[200px] max-h-[200px] photoTopLeft group-hover:opacity-80  transition-all">
                        <i
                            class="fa-regular fa-pen-to-square text-gray-800 scale-150 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 group-hover:opacity-100 opacity-0 transition-all"></i>
                    </label>
                    {% endif %}
                    {{ form_widget(form.photoTopLeft, {required: false, value: form.vars.value.photoTopLeft, 'attr':
                    {'class': 'inputPhoto hidden', "data-img" : "photoTopLeft"} }) }}
                </div>


                <div>
                    {{ form_label(form.photoBottom, null, {'label_attr': {'class': 'photoBottomLabel'} }) }}
                    {% if form.vars.value.photoBottom is not null %}
                    <label for="{{ form.photoBottom.vars.id }}" class="group cursor-pointer w-fit h-fit flex relative">
                        <img src="{{ asset(form.vars.value.photoBottom) }}" alt="Preview"
                            class="max-w-[200px] max-h-[200px] photoBottom group-hover:opacity-70  transition-all">
                        <i
                            class="fa-regular fa-pen-to-square text-gray-800 scale-150 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2  group-hover:opacity-100 opacity-0 transition-all"></i>
                    </label>
                    {% endif %}
                    {{ form_widget(form.photoBottom, {required: false, value: form.vars.value.photoBottom, 'attr':
                    {'class': 'inputPhoto hidden', "data-img" : "photoBottom"} }) }}
                </div>
            </div>

            <div class="flex flex-col justify-center">

                <div>
                    {{ form_label(form.photoMiddle, null, {'label_attr': {'class': 'photoMiddleLabel'} }) }}
                    {% if form.vars.value.photoMiddle is not null %}
                    <label for="{{ form.photoMiddle.vars.id }}" class="group cursor-pointer w-fit h-fit flex relative">
                        <img src="{{ asset(form.vars.value.photoMiddle) }}" alt="Preview"
                            class="max-w-[200px] max-h-[200px] photoMiddle group-hover:opacity-80  transition-all">
                        <i
                            class="fa-regular fa-pen-to-square text-gray-800 scale-150 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2  group-hover:opacity-100 opacity-0 transition-all"></i>
                    </label>
                    {% endif %}
                    {{ form_widget(form.photoMiddle, {required: false, value: form.vars.value.photoMiddle, 'attr':
                    {'class': 'inputPhoto hidden', "data-img" : "photoMiddle"} }) }}
                </div>


            </div>
        </div>

        <div>
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
        </div>

        <div>
            {{ form_label(form.subtitle) }}
            {{ form_widget(form.subtitle) }}
        </div>
    </div>
</details>


<details>
    <summary>Section À Propos</summary>
    <div class="content flex justify-evenly flex-wrap gap-5">

        <div>
            {{ form_label(form.pfp, null, {'label_attr': {'class': 'pfpLabel'} }) }}
            {% if form.vars.value.pfp is not null %}
            <label for="{{ form.pfp.vars.id }}" class="group cursor-pointer w-fit h-fit flex relative">
                <img src="{{ asset(form.vars.value.pfp) }}" alt="Preview"
                    class="max-w-[200px] max-h-[200px] pfp group-hover:opacity-80  transition-all">
                <i
                    class="fa-regular fa-pen-to-square text-gray-800 scale-150 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2  group-hover:opacity-100 opacity-0 transition-all"></i>
            </label>
            {% endif %}
            {{ form_widget(form.pfp, {required: false, value: form.vars.value.pfp, 'attr': {'class': 'inputPhoto
            hidden', "data-img" : "pfp"} }) }}
        </div>

        <div class="max-w-[600px] w-full">
            <div>
                {{ form_label(form.descriptionTitle) }}
                {{ form_widget(form.descriptionTitle) }}
            </div>

            <div>
                {{ form_label(form.descriptionText) }}
                {{ form_widget(form.descriptionText) }}
            </div>

        </div>
    </div>
</details>

<details>
    <summary>Section Contact</summary>
    <div class="content">
        <div>
            {{ form_label(form.contactDescription) }}
            {{ form_widget(form.contactDescription) }}
        </div>

        <div>
            {{ form_label(form.contactNumber) }}
            {{ form_widget(form.contactNumber) }}
        </div>

        <div>
            {{ form_label(form.contactLocation) }}
            {{ form_widget(form.contactLocation) }}
        </div>

        <div>
            {{ form_label(form.contactEmail) }}
            {{ form_widget(form.contactEmail) }}
        </div>

        <div class="flex flex-row-reverse justify-evenly p-10 flex-wrap">
            <div class="flex flex-col gap-14">
                <div>
                    {{ form_label(form.contactPhotoTopRight, null, {'label_attr': {'class': 'contactPhotoTopRightLabel'}
                    }) }}
                    {% if form.vars.value.contactPhotoTopRight is not null %}
                    <label for="{{ form.contactPhotoTopRight.vars.id }}"
                        class="group cursor-pointer w-fit h-fit flex relative">
                        <img src="{{ asset(form.vars.value.contactPhotoTopRight) }}" alt="Preview"
                            class="max-w-[200px] max-h-[200px] contactPhotoTopRight group-hover:opacity-80  transition-all">
                        <i
                            class="fa-regular fa-pen-to-square text-gray-800 scale-150 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2  group-hover:opacity-100 opacity-0 transition-all"></i>
                    </label>
                    {% endif %}
                    {{ form_widget(form.contactPhotoTopRight, {required: false, value:
                    form.vars.value.contactPhotoTopRight, 'attr': {'class': 'inputPhoto hidden', "data-img" :
                    "contactPhotoTopRight"} }) }}
                </div>

                <div>
                    {{ form_label(form.contactPhotoBottomRight, null, {'label_attr': {'class':
                    'contactPhotoBottomRightLabel'} }) }}
                    {% if form.vars.value.contactPhotoBottomRight is not null %}
                    <label for="{{ form.contactPhotoBottomRight.vars.id }}"
                        class="group cursor-pointer w-fit h-fit flex relative">
                        <img src="{{ asset(form.vars.value.contactPhotoBottomRight) }}" alt="Preview"
                            class="max-w-[200px] max-h-[200px] contactPhotoBottomRight group-hover:opacity-80  transition-all">
                        <i
                            class="fa-regular fa-pen-to-square text-gray-800 scale-150 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2  group-hover:opacity-100 opacity-0 transition-all"></i>
                    </label>
                    {% endif %}
                    {{ form_widget(form.contactPhotoBottomRight, {required: false, value:
                    form.vars.value.contactPhotoBottomRight, 'attr': {'class': 'inputPhoto hidden', "data-img" :
                    "contactPhotoBottomRight"} }) }}
                </div>

            </div>


            <div class="flex flex-col justify-end mt-14">
                <div>
                    {{ form_label(form.contactPhotoBottomLeft, null, {'label_attr': {'class': 'contactPhotoBottomLeftLabel'}
                    }) }}
                    {% if form.vars.value.contactPhotoBottomLeft is not null %}
                    <label for="{{ form.contactPhotoBottomLeft.vars.id }}"
                        class="group cursor-pointer w-fit h-fit flex relative">
                        <img src="{{ asset(form.vars.value.contactPhotoBottomLeft) }}" alt="Preview"
                            class="max-w-[200px] max-h-[200px] contactPhotoBottomLeft group-hover:opacity-80  transition-all">
                        <i
                            class="fa-regular fa-pen-to-square text-gray-800 scale-150 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2  group-hover:opacity-100 opacity-0 transition-all"></i>
                    </label>
                    {% endif %}
                    {{ form_widget(form.contactPhotoBottomLeft, {required: false, value:
                    form.vars.value.contactPhotoBottomLeft, 'attr': {'class': 'inputPhoto hidden', "data-img" :
                    "contactPhotoBottomLeft"} }) }}
                </div>
            </div>
        </div>


    </div>

</details>
<button class="btn create-button">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}