{{ form_start(form) }}
    {{ form_row(form.name) }}

    <div class="newPhotosContainer">
        {{ form_row(form.newPhotos) }}
    </div>


    <button class="btn create-button">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
