{{ form_start(form) }}
{{ form_row(form.name) }}


{% set categoryFolder = category.getUniqId()|upper %}

{% if photos | default %}
<div class="w-full flex justify-end">
	<span class="deleteSelection" style="display:none">Supprimer la selection</span>
</div>
<div class="photoGallery grid grid-cols-3 md:grid-cols-5 gap-4">
	{% for photo in photos %}
		<div class="relative group photoContainer">
			<img class="h-full max-w-full rounded-lg object-cover" src='{{ asset('photos/public/' ~ categoryFolder ~ '/' ~ photo.filename) }}' alt="{{photo.title}}"/>
			{% include "admin/_favicon_checkbox.html.twig" with {'photo_id' : photo.id, 'parent_id' : category.getId(), 'favorite_photo' : category.getFavoritePhoto() is null ? null : category.getFavoritePhoto().getId()} %}
			{% include "admin/_photo_selected_checkbox.html.twig" with {'photo_id' : photo.id, 'parent_id' : category.getId()} %}
		</div>
	{% endfor %}
</div>
{% endif %}

<div class="newPhotosContainer">
	{{ form_row(form.newPhotos) }}
</div>

<button class="btn create-button">{{ button_label|default('Sauvegarder') }}</button>

{{ form_end(form) }}
