{% extends '/admin/dashboard.html.twig' %}

{% block title %}Category index{% endblock %}

{% block main_content %}
    <h1>Category index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td data-title="Id">{{ category.id }}</td>
                <td data-title="Name">{{ category.name }}</td>
                <td>
                    <a href="{{ path('app_admin_category_show', {'id': category.id}) }}" class="show-button">Voir</a>
                    <a href="{{ path('app_admin_category_edit', {'id': category.id}) }}" class="edit-button">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune donnée trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_category_new') }}" class="create-button">Create new</a>
{% endblock %}
