{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.password) }}

{% if photos | default %}
	<div class="grid grid-cols-3 md:grid-cols-5 gap-4">
		{% for photo in photos %}
			{% set name = albumFolder ~ "/" ~ photo.filename %}
			{% if photo.title !=  "" %}
				<img class="h-full max-w-full rounded-lg object-cover" src='{{path("app_file", {"title": photo.title} ) }}' alt="{{photo.title}}"/>
			{% endif %}

		{% endfor %}
	</div>
{% endif %}

{# Nouvelles photos avec l'option "allow_add" #}
<div class="newPhotosContainer">
	{{ form_row(form.newPhotos) }}
</div>

<button class="btn create-button">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
