{% extends '/admin/dashboard.html.twig' %}

{% block title %}Album index{% endblock %}

{% block main_content %}
    <h1>Album index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            <tr>
                <td data-title="Id">{{ album.id }}</td>
                <td data-title="Name">{{ album.name }}</td>
                <td data-title="Mot de passe">{{ album.password }}</td>
                <td>
                    <a href="{{ path('app_admin_album_show', {'id': album.id}) }}" class="show-button">Voir</a>
                    <a href="{{ path('app_admin_album_edit', {'id': album.id}) }}" class="edit-button">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune donnée trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_album_new') }}"  class="create-button">Ajouter</a>
{% endblock %}
