{# NAVBAR #}

<nav id="navbar"
  class="dark:bg-gray-900 h-[69px] backdrop-blur transition-all fixed w-full z-20 top-0 start-0 border-[rgba(0,0,0,0.1)] dark:border-gray-600">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-[10%] p-4">
    <a href="{{path('app_home')}}" class="flex items-between space-x-3">
      <img src="{{ asset('assets/images/logo.svg') }}" class="h-8" alt="Logo Emmanuel Godard">
      <span class="self-center transition-all  text-2xl drop-shadow-md font-semibold whitespace-nowrap text-white md:block hidden">Emmanuel Godard</span>
    </a>
    <div class="flex space-x-3 md:space-x-0">
      <button data-collapse-toggle="navbar-sticky" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white hover:text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Ouvrir le menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
    </div>
    <div class="items-center justify-center hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 font-medium bg-transparent rounded-lg md:space-x-8 md:flex-row md:mt-0 dark:bg-gray-800 md:dark:bg-gray-900">
        <li>
          <a href="{{ path('app_home') }}"
            class="block py-2 px-3 drop-shadow-md transition-all text-black md:text-white rounded bg-white md:bg-transparent md:p-0 md:dark:text-gray-500 hover:bg-gray-100 md:hover:bg-inherit underlineEffect">Retour à la page d'accueil</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{# END NAVBAR #}
<div class="imagePreviewContainer h-[70vh] w-full justify-center items-center">
  <div class="h-full pt-[69px] imagePreview flex justify-center items-center relative text-center"
    alt="{{ navbar_image_title }}"
    style="background-image: linear-gradient(black, black), url( {{ navbar_image_path }} );">
    <h1 class="text-clamp-7xl uppercase font-bold text-white drop-shadow-xl delay-300 duration-300">{{
      navbar_image_title }}</h1>
    <a href="#content" class="absolute bottom-6 delay-300 duration-300 goToContent">
      <img src="{{ asset('assets/images/down_chevron.svg') }}" alt="chevron vers le bas" class="h-[30px] w-[30px] drop-shadow-md"
        height="30" width="30" srcset="{{ asset('assets/images/down_chevron.svg') }}" />
    </a>
  </div>
</div>